@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --core-ui-theme-background-primary: rgba(255,255,255,1);
}
:root{
    --core-ui-theme-stroke-tertiary: rgba(12,11,49,0.16);
}

*{
    padding: 0;
    margin: 0;
}


header{
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 81px;
    border-bottom:1px solid var(--core-ui-theme-stroke-tertiary) ;
}
header nav{
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 230px;

}
header nav ul li{
    height: 100%;
    list-style: none;
}

.remove-signout-border {
    border-right: none;
}
header nav ul li .upp1 {
    color: black;
    text-decoration: none;
    height:100%;
    font-size: 18px;
    width: 90px;
    font-family:'Roboto', sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid var(--core-ui-theme-stroke-tertiary);
    border-bottom: none;
    border-right: none;
}

header nav ul li .upp1:hover {
    font-family: 'Roboto', sans-serif;
    color: #8B37FF;
    font-size: 18px;
    font-weight: 550;
    height:100%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid var(--core-ui-theme-stroke-tertiary);
    border-bottom: none;
    border-right: none;
}

#logo{
    display: flex;
    width: 65px;
    position: relative;
    right: -20px;

}
.form{
    display: flex;
    position: relative;
    left: 155px;
}

#search{
    display: flex;
    width: 21vw;
    height: 32px;
    padding: 6px;
    border-radius: 12px;
}

.cssbtn{
    width: 26px;
    background-color: var(--core-ui-theme-background-primary);
    position: relative;
    left: 12px;
}

#search-img-logo{
    width: 20px;
}






